In [1]:
hp <- read.table("hp.csv",header = T,sep = ",")

In [62]:
hp

   Sample observed_species shannon simpson chao1    ACE      goods_coverage
1  CWB    2139             8.217   0.986   3209.049 2462.558 0.992
2  CWB    1982             8.197   0.988   2126.850 2121.087 0.996
3  CWB    1925             8.365   0.991   2046.026 2040.442 0.996
4  YH     1458             7.173   0.949   1637.286 1622.451 0.996
5  YH     1461             7.550   0.985   1592.204 1601.046 0.996
6  YH     1144             4.325   0.679   1285.984 1309.131 0.996
7  Bar     678             6.262   0.971    737.202  747.892 0.998
8  Bar     756             6.871   0.982    825.727  832.240 0.998
9  Bar     767             6.787   0.980    808.941  821.047 0.998
10 YW      402             1.784   0.420    451.714  465.886 0.999
11 YW      381             1.779   0.419    417.076  434.272 0.999
12 YW      519             2.475   0.511    572.517  584.482 0.998
13 EB      867             5.229   0.865    935.343  932.281 0.998
14 EB      909             6.091   0.929    952.545  961.399 0.998
15 EB      905             5.981   0.924    964.500  971.086 0.998
   PD_whole_tree
1  185.989
2  177.511
3  166.796
4  132.709
5  133.500
6  108.495
7   76.106
8   86.784
9   85.042
10  49.019
11  49.527
12  63.068
13  88.707
14  91.895
15  91.253

In [ ]:
meanANDsd <- function(x){
    m <- mean(x)
    s <- sd(x)
    return(c(mean = m, sd = s, ad = paste(m,s,sep = "±")))
    
}

alpha <- c("observed_species","shannon","simpson","chao1","ACE","goods_coverage","PD_whole_tree")
sapply(hp[alpha],  meanANDsd)

In [37]:
(x1 <- aggregate(hp[alpha], by=list(Sample = hp$Sample), mean))

(x2 <- aggregate(hp[alpha], by=list(Sample = hp$Sample), sd))

write_csv(x2,"hpsd.csv")

  Sample observed_species shannon  simpson   chao1     ACE      goods_coverage
1 Bar     733.6667        6.640000 0.9776667  790.6233  800.393 0.9980000
2 CWB    2015.3333        8.259667 0.9883333 2460.6417 2208.029 0.9946667
3 EB      893.6667        5.767000 0.9060000  950.7960  954.922 0.9980000
4 YH     1354.3333        6.349333 0.8710000 1505.1580 1510.876 0.9960000
5 YW      434.0000        2.012667 0.4500000  480.4357  494.880 0.9986667
  PD_whole_tree
1  82.64400
2 176.76533
3  90.61833
4 124.90133
5  53.87133

  Sample observed_species shannon    simpson     chao1     ACE
1 Bar     48.52147        0.33004091 0.005859465  47.01937  45.81034
2 CWB    110.82569        0.09176782 0.002516611 649.39840 224.08628
3 EB      23.18045        0.46915669 0.035594943  14.65697  20.19705
4 YH     182.16019        1.76322895 0.167248318 191.14400 175.04379
5 YW      74.35725        0.40040022 0.052829916  81.60378  79.19122
  goods_coverage PD_whole_tree
1 0.0000000000    5.728676
2 0.0023094011    9.618203
3 0.0000000000    1.686101
4 0.0000000000   14.213805
5 0.0005773503    7.968596

In [4]:

by_all <- group_by(hp, Sample)
summarise(by_all, sd = sd(observed_species))
summarise(by_all, sd = sd(shannon))
summarise(by_all, sd = sd(simpson))
summarise(by_all, sd = sd(chao1))
summarise(by_all, sd = sd(ACE))
summarise(by_all, sd = sd(goods_coverage))
summarise(by_all, sd = sd(PD_whole_tree))


# summarise(by_all, sd = sd(c("observed_species","shannon","simpson","chao1","ACE","goods_coverage","PD_whole_tree")))

  Sample sd
1 Bar     48.52147
2 CWB    110.82569
3 EB      23.18045
4 YH     182.16019
5 YW      74.35725

  Sample sd
1 Bar    0.33004091
2 CWB    0.09176782
3 EB     0.46915669
4 YH     1.76322895
5 YW     0.40040022

  Sample sd
1 Bar    0.005859465
2 CWB    0.002516611
3 EB     0.035594943
4 YH     0.167248318
5 YW     0.052829916

  Sample sd
1 Bar     47.01937
2 CWB    649.39840
3 EB      14.65697
4 YH     191.14400
5 YW      81.60378

  Sample sd
1 Bar     45.81034
2 CWB    224.08628
3 EB      20.19705
4 YH     175.04379
5 YW      79.19122

  Sample sd
1 Bar    0.0000000000
2 CWB    0.0023094011
3 EB     0.0000000000
4 YH     0.0000000000
5 YW     0.0005773503

  Sample sd
1 Bar     5.728676
2 CWB     9.618203
3 EB      1.686101
4 YH     14.213805
5 YW      7.968596

In [5]:
table(hp$Sample)
aggregate(hp$ACE,by = list(hp$Sample), sd)

Bar CWB  EB  YH  YW
  3   3   3   3   3

  Group.1 x
1 Bar      45.81034
2 CWB     224.08628
3 EB       20.19705
4 YH      175.04379
5 YW       79.19122

In [6]:
attach(hp)

In [10]:
library(multcomp)

Loading required package: mvtnorm
Loading required package: survival
Loading required package: TH.data
Loading required package: MASS

Attaching package: ‘MASS’

The following object is masked from ‘package:dplyr’:

    select


Attaching package: ‘TH.data’

The following object is masked from ‘package:MASS’:

    geyser

In [65]:
fit <- aov(shannon~Sample,data = hp)#  %>%
# summary()
# TukeyHSD()
tuk <- glht(fit, linfct = mcp(Sample = "Tukey")) # %>%
(xx <- summary(tuk))


# write_file(xx,"shanaov.txt")

	 Simultaneous Tests for General Linear Hypotheses

Multiple Comparisons of Means: Tukey Contrasts


Fit: aov(formula = shannon ~ Sample, data = hp)

Linear Hypotheses:
               Estimate Std. Error t value Pr(>|t|)
CWB - Bar == 0   1.6197     0.6935   2.336  0.21071
EB - Bar == 0   -0.8730     0.6935  -1.259  0.71997
YH - Bar == 0   -0.2907     0.6935  -0.419  0.99250
YW - Bar == 0   -4.6273     0.6935  -6.673  < 0.001 ***
EB - CWB == 0   -2.4927     0.6935  -3.594  0.03117 *
YH - CWB == 0   -1.9103     0.6935  -2.755  0.11400
YW - CWB == 0   -6.2470     0.6935  -9.008  < 0.001 ***
YH - EB == 0     0.5823     0.6935   0.840  0.91200
YW - EB == 0    -3.7543     0.6935  -5.414  0.00213 **
YW - YH == 0    -4.3367     0.6935  -6.254  < 0.001 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1
(Adjusted p values reported -- single-step method)

List of 10
 $ model      :List of 13
  ..$ coefficients : Named num [1:5] 6.64 1.62 -0.873 -0.291 -4.627
  .. ..- attr(*, "names")= chr [1:5] "(Intercept)" "SampleCWB" "SampleEB" "SampleYH" ...
  ..$ residuals    : Named num [1:15] -0.0427 -0.0627 0.1053 0.8237 1.2007 ...
  .. ..- attr(*, "names")= chr [1:15] "1" "2" "3" "4" ...
  ..$ effects      : Named num [1:15] -22.49 -4.75 -1.15 -2.86 -5.67 ...
  .. ..- attr(*, "names")= chr [1:15] "(Intercept)" "SampleCWB" "SampleEB" "SampleYH" ...
  ..$ rank         : int 5
  ..$ fitted.values: Named num [1:15] 8.26 8.26 8.26 6.35 6.35 ...
  .. ..- attr(*, "names")= chr [1:15] "1" "2" "3" "4" ...
  ..$ assign       : int [1:5] 0 1 1 1 1
  ..$ qr           :List of 5
  .. ..$ qr   : num [1:15, 1:5] -3.873 0.258 0.258 0.258 0.258 ...
  .. .. ..- attr(*, "dimnames")=List of 2
  .. .. .. ..$ : chr [1:15] "1" "2" "3" "4" ...
  .. .. .. ..$ : chr [1:5] "(Intercept)" "SampleCWB" "SampleEB" "SampleYH" ...
  .. .. ..- attr(*, "assign")= int [1:5] 0 1 1 1 1
  .. .. ..- attr(*, "contrasts")=List of 1
  .. .. .. ..$ Sample: chr "contr.treatment"
  .. ..$ qraux: num [1:5] 1.26 1.41 1 1.47 1
  .. ..$ pivot: int [1:5] 1 2 3 4 5
  .. ..$ tol  : num 1e-07
  .. ..$ rank : int 5
  .. ..- attr(*, "class")= chr "qr"
  ..$ df.residual  : int 10
  ..$ contrasts    :List of 1
  .. ..$ Sample: chr "contr.treatment"
  ..$ xlevels      :List of 1
  .. ..$ Sample: chr [1:5] "Bar" "CWB" "EB" "YH" ...
  ..$ call         : language aov(formula = shannon ~ Sample, data = hp)
  ..$ terms        :Classes 'terms', 'formula'  language shannon ~ Sample
  .. .. ..- attr(*, "variables")= language list(shannon, Sample)
  .. .. ..- attr(*, "factors")= int [1:2, 1] 0 1
  .. .. .. ..- attr(*, "dimnames")=List of 2
  .. .. .. .. ..$ : chr [1:2] "shannon" "Sample"
  .. .. .. .. ..$ : chr "Sample"
  .. .. ..- attr(*, "term.labels")= chr "Sample"
  .. .. ..- attr(*, "order")= int 1
  .. .. ..- attr(*, "intercept")= int 1
  .. .. ..- attr(*, "response")= int 1
  .. .. ..- attr(*, ".Environment")=<environment: R_GlobalEnv>
  .. .. ..- attr(*, "predvars")= language list(shannon, Sample)
  .. .. ..- attr(*, "dataClasses")= Named chr [1:2] "numeric" "factor"
  .. .. .. ..- attr(*, "names")= chr [1:2] "shannon" "Sample"
  ..$ model        :'data.frame':	15 obs. of  2 variables:
  .. ..$ shannon: num [1:15] 8.22 8.2 8.37 7.17 7.55 ...
  .. ..$ Sample : Factor w/ 5 levels "Bar","CWB","EB",..: 2 2 2 4 4 4 1 1 1 5 ...
  .. ..- attr(*, "terms")=Classes 'terms', 'formula'  language shannon ~ Sample
  .. .. .. ..- attr(*, "variables")= language list(shannon, Sample)
  .. .. .. ..- attr(*, "factors")= int [1:2, 1] 0 1
  .. .. .. .. ..- attr(*, "dimnames")=List of 2
  .. .. .. .. .. ..$ : chr [1:2] "shannon" "Sample"
  .. .. .. .. .. ..$ : chr "Sample"
  .. .. .. ..- attr(*, "term.labels")= chr "Sample"
  .. .. .. ..- attr(*, "order")= int 1
  .. .. .. ..- attr(*, "intercept")= int 1
  .. .. .. ..- attr(*, "response")= int 1
  .. .. .. ..- attr(*, ".Environment")=<environment: R_GlobalEnv>
  .. .. .. ..- attr(*, "predvars")= language list(shannon, Sample)
  .. .. .. ..- attr(*, "dataClasses")= Named chr [1:2] "numeric" "factor"
  .. .. .. .. ..- attr(*, "names")= chr [1:2] "shannon" "Sample"
  ..- attr(*, "class")= chr [1:2] "aov" "lm"
 $ linfct     : num [1:10, 1:5] 0 0 0 0 0 0 0 0 0 0 ...
  ..- attr(*, "dimnames")=List of 2
  .. ..$ : Named chr [1:10] "CWB - Bar" "EB - Bar" "YH - Bar" "YW - Bar" ...
  .. .. ..- attr(*, "names")= chr [1:10] "Sample1" "Sample2" "Sample3" "Sample4" ...
  .. ..$ : chr [1:5] "(Intercept)" "SampleCWB" "SampleEB" "SampleYH" ...
  ..- attr(*, "type")= chr "Tukey"
 $ rhs        : num [1:10] 0 0 0 0 0 0 0 0 0 0
 $ coef       : Named num [1:5] 6.64 1.62 -0.873 -0.291 -4.627
  ..- attr(*, "names")= chr [1:5] "(Intercept)" "SampleCWB" "SampleEB" "SampleYH" ...
 $ vcov       : num [1:5, 1:5] 0.24 -0.24 -0.24 -0.24 -0.24 ...
  ..- attr(*, "dimnames")=List of 2
  .. ..$ : chr [1:5] "(Intercept)" "SampleCWB" "SampleEB" "SampleYH" ...
  .. ..$ : chr [1:5] "(Intercept)" "SampleCWB" "SampleEB" "SampleYH" ...
 $ df         : int 10
 $ alternative: chr "two.sided"
 $ type       : chr "Tukey"
 $ focus      : chr "Sample"
 $ test       :List of 7
  ..$ pfunction   :function (type = c("univariate", "adjusted", p.adjust.methods), ...)
  ..$ qfunction   :function (conf.level, adjusted = TRUE, ...)
  ..$ coefficients: Named num [1:10] 1.62 -0.873 -0.291 -4.627 -2.493 ...
  .. ..- attr(*, "names")= chr [1:10] "CWB - Bar" "EB - Bar" "YH - Bar" "YW - Bar" ...
  ..$ sigma       : Named num [1:10] 0.693 0.693 0.693 0.693 0.693 ...
  .. ..- attr(*, "names")= chr [1:10] "CWB - Bar" "EB - Bar" "YH - Bar" "YW - Bar" ...
  ..$ tstat       : Named num [1:10] 2.336 -1.259 -0.419 -6.673 -3.594 ...
  .. ..- attr(*, "names")= chr [1:10] "CWB - Bar" "EB - Bar" "YH - Bar" "YW - Bar" ...
  ..$ pvalues     : num [1:10] 0.210708 0.719966 0.9925 0.000378 0.031175 ...
  .. ..- attr(*, "error")= num 0.000307
  ..$ type        : chr "single-step"
  ..- attr(*, "class")= chr "mtest"
 - attr(*, "class")= chr [1:2] "summary.glht" "glht"

In [17]:
aov(observed_species~Sample,data = hp) %>%
# summary()
# TukeyHSD()
glht(linfct = mcp(Sample = "Tukey")) %>%
summary()

	 Simultaneous Tests for General Linear Hypotheses

Multiple Comparisons of Means: Tukey Contrasts


Fit: aov(formula = observed_species ~ Sample, data = hp)

Linear Hypotheses:
               Estimate Std. Error t value Pr(>|t|)
CWB - Bar == 0  1281.67      84.76  15.121  < 1e-04 ***
EB - Bar == 0    160.00      84.76   1.888 0.381635
YH - Bar == 0    620.67      84.76   7.322 0.000164 ***
YW - Bar == 0   -299.67      84.76  -3.535 0.034203 *
EB - CWB == 0  -1121.67      84.76 -13.233  < 1e-04 ***
YH - CWB == 0   -661.00      84.76  -7.798 0.000123 ***
YW - CWB == 0  -1581.33      84.76 -18.656  < 1e-04 ***
YH - EB == 0     460.67      84.76   5.435 0.002094 **
YW - EB == 0    -459.67      84.76  -5.423 0.002090 **
YW - YH == 0    -920.33      84.76 -10.858  < 1e-04 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1
(Adjusted p values reported -- single-step method)

In [18]:
aov(simpson~Sample,data = hp) %>%
# summary()
# TukeyHSD()
glht(linfct = mcp(Sample = "Tukey")) %>%
summary()

	 Simultaneous Tests for General Linear Hypotheses

Multiple Comparisons of Means: Tukey Contrasts


Fit: aov(formula = simpson ~ Sample, data = hp)

Linear Hypotheses:
               Estimate Std. Error t value Pr(>|t|)
CWB - Bar == 0  0.01067    0.06539   0.163 0.999811
EB - Bar == 0  -0.07167    0.06539  -1.096 0.804930
YH - Bar == 0  -0.10667    0.06539  -1.631 0.511841
YW - Bar == 0  -0.52767    0.06539  -8.069 0.000101 ***
EB - CWB == 0  -0.08233    0.06539  -1.259 0.719873
YH - CWB == 0  -0.11733    0.06539  -1.794 0.426702
YW - CWB == 0  -0.53833    0.06539  -8.232  < 1e-04 ***
YH - EB == 0   -0.03500    0.06539  -0.535 0.981395
YW - EB == 0   -0.45600    0.06539  -6.973 0.000247 ***
YW - YH == 0   -0.42100    0.06539  -6.438 0.000534 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1
(Adjusted p values reported -- single-step method)

In [19]:
aov(chao1~Sample,data = hp) %>%
# summary()
# TukeyHSD()
glht(linfct = mcp(Sample = "Tukey")) %>%
summary()

	 Simultaneous Tests for General Linear Hypotheses

Multiple Comparisons of Means: Tukey Contrasts


Fit: aov(formula = chao1 ~ Sample, data = hp)

Linear Hypotheses:
               Estimate Std. Error t value Pr(>|t|)
CWB - Bar == 0   1670.0      249.6   6.690   <0.001 ***
EB - Bar == 0     160.2      249.6   0.642   0.9644
YH - Bar == 0     714.5      249.6   2.862   0.0968 .
YW - Bar == 0    -310.2      249.6  -1.243   0.7288
EB - CWB == 0   -1509.8      249.6  -6.048   <0.001 ***
YH - CWB == 0    -955.5      249.6  -3.828   0.0218 *
YW - CWB == 0   -1980.2      249.6  -7.933   <0.001 ***
YH - EB == 0      554.4      249.6   2.221   0.2473
YW - EB == 0     -470.4      249.6  -1.884   0.3832
YW - YH == 0    -1024.7      249.6  -4.105   0.0141 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1
(Adjusted p values reported -- single-step method)

In [20]:
aov(ACE~Sample,data = hp) %>%
# summary()
# TukeyHSD()
glht(linfct = mcp(Sample = "Tukey")) %>%
summary()

	 Simultaneous Tests for General Linear Hypotheses

Multiple Comparisons of Means: Tukey Contrasts


Fit: aov(formula = ACE ~ Sample, data = hp)

Linear Hypotheses:
               Estimate Std. Error t value Pr(>|t|)
CWB - Bar == 0   1407.6      109.3  12.876  < 1e-04 ***
EB - Bar == 0     154.5      109.3   1.414 0.633433
YH - Bar == 0     710.5      109.3   6.499 0.000544 ***
YW - Bar == 0    -305.5      109.3  -2.795 0.107353
EB - CWB == 0   -1253.1      109.3 -11.463  < 1e-04 ***
YH - CWB == 0    -697.2      109.3  -6.377 0.000581 ***
YW - CWB == 0   -1713.1      109.3 -15.671  < 1e-04 ***
YH - EB == 0      556.0      109.3   5.086 0.003343 **
YW - EB == 0     -460.0      109.3  -4.208 0.012183 *
YW - YH == 0    -1016.0      109.3  -9.294  < 1e-04 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1
(Adjusted p values reported -- single-step method)

In [23]:
detach(hp)

In [ ]:
# install.packages("multcomp")
library(multcomp)
attach(hp)
aov(ACE~Sample,data = hp) %>%
# summary()
# TukeyHSD()
glht(linfct = mcp(Sample = "Tukey")) %>%
summary()
detach(hp)